<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/style.css">
    <title>Cloudees | About Us</title>
</head>
<body>
    <center><h1>ABOUT</h1></center>
    <p style="margin: 4rem;">Cloudees is an application that lets users classify between clouds through such a simple and clean user interface. A user just need to select an image from the gallery, and then they can run the prediction and know what category does that specific cloud fall into. Under the hood, it works by utilising the powers of Deep Learning. Technically, it has been trained over 9000+ images of clouds of 9 major categories, through Convolutional Neural Networks, and has an accuracy of 90%. The request is sent from application to our hosted REST API, which resizes the image accordingly, and then performs the prediction and returns that to our user. So, have fun and enjoy cloud aesthetics <3</p>
</body>
</html>