<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/style.css">
    <title>Cloudees</title>
</head>
<body>
    <nav>
        <div class="nav-container">
            <img src="../static/assets/logo.png" alt="logo" />
            <h6>cloudees</h6>
        </div>
        <div class="nav-container">
            <a href="/upload">Get Started</a>
            <a href="/about">About</a>
        </div>
    </nav>
    <div class="container">
        <div class="left">
            <h1>AI powered clouds spotting</h1>
        
            <p>spot clouds, find their type using AI, and enjoy the aesthetics</p>
            <br>
            <button onclick="window.location.href='/upload'">Get Started</button>
            <button class="dark" onclick="window.location.href='/about'">Learn More</button>
        </div>
        <div class="right">
            <img src="../static/assets/side.svg" alt="">
        </div>
    </div>
    
</center>
</body>
</html>