<!DOCTYPE html>
<html lang="en">
<head>
    <script
    class="jsbin"
    src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"
  ></script>
  <script
    class="jsbin"
    src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"
  ></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style/style.css">
    <title>Cloudees | Upload Image</title>
</head>
<body>
    <center><h1>UPLOAD IMAGE</h1>
    <form action="/predictweb" method="POST" enctype="multipart/form-data">
  <label for="img">Select image:</label>
  <input type="file" id="img" name="img" accept="image/*" onchange="readURL(this);">
  <input type="submit">
</form>


<img src="" id="preview" alt="">


</center>

<script>
    function readURL(input) {
if (input.files && input.files[0]) {
var reader = new FileReader();

reader.onload = function (e) {
  $('#preview').attr('src', e.target.result).width(150);
};

reader.readAsDataURL(input.files[0]);
}
}
</script>
</body>
</html>


